body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: #333;
    color: #fff;
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 80px;
    margin-right: 20px; 
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}



.contacto {
    text-align: center;
    padding: 60px 0;
}

.contacto h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.contacto p {
    font-size: 18px;
    margin-bottom: 40px;
}

.contacto form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
}

.contacto label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.contacto input[type="text"],
.contacto input[type="email"],
.contacto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contacto textarea {
    resize: vertical;
}

.contacto button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.contacto button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
